<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> {{view}} Home Page</h3>
    {% if is_paginated %}
    {% for p in page_obj%}
        <h2>{{p.post_title}}</h2>
        <h5>{{p.post_cat}}</h5>
        <p>{{p.post_desc|truncatewords:10}}<a href="{% url 'postcl' p.id %}">Read More</a></p>
        <small>{{p.post_pdate}}</small>
        <hr>
    {% endfor %}

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            <!-- <span>page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span> -->
            <span>{{page_obj.number}}</span>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    {% for p in post_list%}
    <h2>{{p.post_title}}</h2>
    <h5>{{p.post_cat}}</h5>
    <p>{{p.post_desc|truncatewords:10}}</p><a href="{% url 'postcl' p.id %}">Read More</a>
    <small>{{p.post_pdate}}</small>
    <hr>
{% endfor %}
    {% endif %}
</body>
</html>