th,td {
    border:1px black solid;
    color:bisque;
    text-align: center;
}
th{
    color:black;
}
body{
    background-color:rgb(38, 93, 86);
}
h6{
    font-size: 30px;
}
.helptext{
    color:rgb(13, 36, 3);
}
