{% extends 'enroll/base.html' %}
{% load static %}
{% block title %}User Login{% endblock title %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'enroll/css/style.css' %}"/>
{% endblock css %}
{%block content %}
{% if messages %}
{% for m in messages %}
    <span {% if m.tags %} class="alert-{{m.tags}}" {% endif %}>{{m}}</span>
{% endfor %}
{% endif %}  
<form method="POST" novalidate>
   {% csrf_token %}
   {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert-danger">{{error}} </p>
    {% endfor %}
   {% endif %}
   {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors| striptags}}<br><br>
   {% endfor %}
    <input type="submit" value="Login" class="btn btn-success">
</form>

<br>
<a href="{% url 'signup' %}" class="btn btn-primary btn-sm">Sign Up</a>

{% endblock content %}
{% block button %}
{% endblock button %}

