{% extends 'main/base.html' %}
{% load static %}
{% block title %}Student Form{% endblock title %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'enroll/css/style.css' %}"/>
{% endblock css %}
{% block content%}
<h3>Student Registration</h3>
<h6>using form</h6>
<form method="post" novalidate>
{% csrf_token %}
<table>
    {{form}}
</table>
<input type="submit" value ='Register'>
</form>
<!-- <h6>using form.as_p</h6>
<form>
    
        {{form.as_p}}
  
    <input type="submit" value ='Register'>
</form>
<h6>using form.as_ul</h6>

<form>
       
            {{form.as_ul}}
     
        <input type="submit" value ='Register'>
</form>
<h6>using form.name_of_field</h6>

<form>

        {{form.stuname}}
        {{form.stuemail}}
 
    <input type="submit" value ='Register'>
</form> -->
{% endblock content %}
{%block button%}
{%endblock button%}