<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
</head>
<body>
    <table border="1px">
        <tr>
        <h3>Customer Information</h3>
        <th>Id</th>
        <th>Name</th>
        <th>Customer Id</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    {% for cs in cs%}
    <tr>
        <td>{{cs.id}}</td>
        <td>{{cs.name}}</td>
        <td>{{cs.csid}}</td>
        <td>{{cs.address}}</td>
        <td>{{cs.email}}</td>
        <td>{{cs.phone}}</td>  
    </tr>
    {% endfor%} 
    </table>

<hr>
    <table border="1px">
        <tr>
        <h3>Employee Information</h3>
        <th>Id</th>
        <th>Name</th>
        <th>Employee Id</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Phone</th>
    </tr>
    {% for emp in emp%}
    <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.empid}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.phone}}</td>  
    </tr>
    {% endfor%} 
    </table>
</body>
</html>