{% extends 'student/base.html' %}
{% load static %}
{% block title%} Student {% endblock title %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'student/css/style.css' %}"/>
{% endblock css%}
{% block content%}
<h3 class="text-center alert-primary"> {{name}}, Welcome to CRUD Operations</h3>
 {% if messages %}
 {% for m in messages %}
     <span {% if m.tags %} class="alert-{{m.tags}}" {% endif %}>{{m}}</span>
 {% endfor %}
 {% endif %}  
 <ul>
    <li>
    <a href="{% url 'addStudent' %}" class="btn btn-success btn-sm ">Add Student</a>
    </li>
        <br>
    <li>
        <a href="{% url 'showStudent' %}" class="btn btn-primary btn-sm ">View Students</a>
    </li>
          <br>
    <li> 
    <a href="{% url 'changepass' %}" class="btn btn-warning btn-sm ">Change Password</a>
    </li>
        <br>
    <li>
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm ">Logout</a>
    </li>

 </ul>

{% endblock content%}