{% extends 'student/base.html' %}
{% load static %}
{% block title %}User Login{% endblock title %}
{%block content %}
{% if messages %}
{% for m in messages %}
    <span {% if m.tags %} class="alert-{{m.tags}}" {% endif %}>{{m}}</span>
{% endfor %}
{% endif %}  
<form method="POST" novalidate>
   {% csrf_token %}
   {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert-danger">{{error}} </p>
    {% endfor %}
   {% endif %}
   {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors| striptags}}<br><br>
   {% endfor %}
    <input type="submit" value="Change" class="btn btn-success">
</form>

<br>
<a href="{% url 'profile' %}" class="btn btn-warning btn-sm">Back</a>

{% endblock content %}
{% block button %}
{% endblock button %}