<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>
    <style>
        table,th,tr,td{
            border: 1px solid black
        }
    </style>
</head>
<body>
    {% if song %}
   <table>
    <h3>Page Data</h3>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Singer</th>
    </tr>
    {% for pg in song %}
    <tr>
        <td>{{pg.song_name}}</td>
        <td>{{pg.song_duration}}</td>
        <td>{{pg.sang_by}}</td>
   
    </tr>
    {% endfor %}
   </table> 
   {% else %}
    <h4>No data Found</h4>
   {% endif %}
</body>
</html>